<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../styles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../styles/index.css">
		<link rel="stylesheet" type="text/css" href="../../styles/include.css">
	<link rel="stylesheet" type="text/css" href="../../styles/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../styles/photo.css">
</head>
<title>BLOG</title>
<body>
	<section id="blog">
		<header></header>
		<div class="col-md-12 col-sm-12 col-xl-12 one main">
			<nav class="col-md-1 col-sm-1 col-xl-12 navbar navbar-default one" role="navigation">
				<div class="col-md-12 col-sm-12 col-xl-12 container-fluid one"> 
					<div class="col-md-12 col-sm-12 col-xl-12 navbar-header one">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
								data-target="#example-navbar-collapse">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class=" col-md-12 col-sm-12 col-xl-12collapse navbar-collapse one" id="example-navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="ten" v-for="date in news" >
								<a :href="[date.new_tab]" class="five">
									<span :class="[date.fa]">&nbsp;&nbsp;</span>
									<span class="menu_ul">{{date.name}}</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<section class="col-md-11 col-sm-11 col-xl-12 one footer_st">
				<div class="col-md-12 col-sm-12 col-xl-12 me">
					<h4 style="padding-bottom: 10px;border-bottom: 1px solid #eee;">404页面</h4>
					<div class="col-md-12 col-sm-12 col-xl-12 one">
						<section class="col-md-12 col-sm-12 col-xl-12 one">
							<div style="text-align: center;">
								<h2 class="am-text-center am-text-xxxl am-margin-top-lg">404. Not Found</h2>
          						<p class="am-text-center">没有找到你要的页面</p>
							</div>
							
							<pre class="page-404" style="background: #fff;border: none;text-align: center;">
		 .----.
	       _.'__    `.
	   .--($)($$)---/#\
	 .' @          /###\
	 :         ,   #####
	  `-..__.-' _.-\###/
	        `;_:    `"'
	      .'"""""`.
	     /,  ya ,\\
	    //  404!  \\
	    `-._______.-'
	    ___`. | .'___
	   (______|______)
							</pre>
						</section>
					</div>
				</div>
			</section>
		</div>
		<footer class="col-md-12 col-sm-12 col-xl-12 one" style="position: absolute;width: 100%;"></footer>
	</section>
</body>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/pager.js"></script>
	<script type="text/javascript" src="../../js/person.js"></script>
	<script type="text/javascript" src="../../js/include.js"></script>
</html>
