*{
	margin: 0;
	padding: 0;
}
/*header开始*/
header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 65px;
    line-height: 65px;
    background: #7638da;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: none;
    color: #fff;
}
.watch_info{
    width: 200px;
    height: 200px;
    background: #ffffff;
    border: 1px solid #04a7f1;
    z-index: -10;
    right: 4px;
    margin-top: -1px;
    position: fixed;
    display: none;
}
.one{
	padding: 0;
}
.active{
    background: #9474c8;
    display: block;
    color: #fff;
}
.active a{
    color: #fff;
}
.watch{
	float: right;
    margin-right: 20px;
    height: 20px;
    line-height: 65px;
    text-align: center;
    border-radius: 18px;
    font-size: 12px;
    margin-top: 2px;
}
/*header开始结束*/

/*nav开始*/
nav{
	height: auto;
    margin-bottom: 20px;
    background: #fff;
    border-right: 1px solid #b6b1c0;
}
.navbar{
    margin-bottom: 0;
    padding: 0;
    min-height: auto;
}
.five{
	color: #efefef;
    text-decoration: none;
}
.navbar-default .navbar-nav>li>a:hover{
    display: block;
    color: #fff;
}
.ten{
    width: 100%;
    padding-left: 13px;
}
.ten:hover{
	background: #a587d4;height: 90%;    margin-bottom: 10px;
    color: #fff;
}
/*nav结束*/


/*footer开始*/
footer{
    position: fixed;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    background: #000;
    opacity: 0.5;
}
.footer_st{
    height: 90%;    
    margin-bottom: 10px;
}
.out{
    padding-right: 20px;
}
label{
    text-align: right;
}